# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
.editorconfig
.gitignore
.htaccess
Gemfile*
# Gemfile.lock
doc
.gitattributes
# package-lock.json
# package.json
site.webmanifest
page-template.html
page-template-ru.html
node_modules
# .nojekyll
*.xml
.deploykeys
.htaccess
browswerconfig.xml
# .eleventy.json