---
layout: page
title: Archive
pagination:
    data: collections.posts
    size: 10
    alias: posts
    reverse: true
---
<h1>{{ title }}</h1>

<ul>
  {%- for post in posts | reverse -%}
  <li><a href="{{ post.url }}">"{{ post.title }}"</a> <i>(published {{ post.date }})</i></li>
  {% endfor %}
  </ul>
  
  <p>
    {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous</a>
    {% else %}
    Previous
    {% endif %} / 
    {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
    {% else %}
    Next
    {% endif %}
  </p>