---
layout: page
title: Blog
eleventyNavigation:
  key: Archive 
  parent: home
  order: 2
---

<h1>{{ title }}</h1>

<p>More posts can be found in <a href="{{ '/archive/' | url }}">the archive</a>.</p>