---
layout: page
title: Blog
pagination:
    data: collections.blog
    size: 10 
    alias: posts
    reverse: true
---
<h1>{{ title }}</h1>
<hr>
<ul>
  {% for post in posts %}
    {% if post.data.publish %}
    <li>
      <a href="{{ post.url }}">"{{ post.data.title }}"</a> <i>(published {{ post.date }})</i> 
      <p>{% if post.data.teaser %}
          {{ post.data.teaser }}
      {% endif %}</p>
    </li>
  {% endif %}
  {% endfor %}
</ul>
---
<p>More posts can be found in <a href="{{ 'blog/archive.html' | url }}">the archive</a>.</p>