---
title: CV
layout: page
eleventyNavigation:
  key: Archive 
  parent: home
  order: 2
---

<div id="adobe-dc-view"></div>
  
  <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>

  <script type="text/javascript">

   document.addEventListener("adobe_dc_view_sdk.ready", function()

   {

      var adobeDCView = new AdobeDC.View({clientId: "544414429e0642b5b6449a840c26e164", divId: "adobe-dc-view"});

      adobeDCView.previewFile(

     {

         content:  {location: {url: "data/cv_latest_nocontact.pdf"}},
         metaData: {fileName: "CV_ThompsonAaronM"}
     }, {embedMode: "IN_LINE"});
   });
  </script>